<!--
============================================
; Title:  about.component.html
; Author: Kevin Jones
; Date: 8 June 2021
; Description: About component HTML file
;===========================================
 -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Joseph Bologne, Chevalier de Saint-Georges</h3>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-3">
      <img src="./assets/composerImage.jpeg" alt="Joseph Bologne" />
    </div>
    <div class="col-sm-9">
      <p>
        Dubbed ‘le Mozart noir’ (‘Black Mozart’), the Chevalier de Saint-Georges
        is remembered as the first classical composer of African origins. Born
        to a wealthy plantation owner and his African slave, Saint-Georges was a
        prolific composer who wrote string quartets, symphonies and concertos in
        the late 18th century. He also led one of the best orchestras in Europe
        – Le Concert des Amateurs – and former US president John Adams judged
        him “the most accomplished man in Europe”.
        <a
          class="source"
          href="https://www.classicfm.com/discover-music/black-composers-who-made-classical-music-history/"
          target="_blank"
          >Source</a
        >
      </p>
    </div>
  </div>
</div>
