<!--
============================================
; Title:  contact.component.html
; Author: Kevin Jones
; Date: 8 June 2021
; Description: Contact component HTML file
;===========================================
 -->

<div class="container">
  <div class="row justify-content-center" fxLayout="row">
    <h3 style="text-align: center; padding-bottom: 2em">Contact Us</h3>
    <div class="col-4" style="text-align: center" fxFlex class="left">
      <i class="fas fa-map-marker-alt"></i>
      <ul class="list-group">
        <li class="list-group-item border-0">201 N Main St</li>
        <li class="list-group-item border-0">Fayetteville, NC 23545</li>
      </ul>
    </div>
    <div class="col-4" style="text-align: center" fxFlex class="right">
      <i class="fas fa-phone"></i>
      <ul class="list-group">
        <li class="list-group-item border-0">Direct: 555-555-5555</li>
        <li class="list-group-item border-0">Toll-free: 1-800-555-5555</li>
      </ul>
    </div>
  </div>
</div>
